@page "/AssignSuperkatten/{GastgezinId:guid}"

<AntDesign.Row Class="border mb-2">
    <AntDesign.Col Class="col-6">
        <AntDesign.Button Block="@true" OnClick="@OnClose">Terug</AntDesign.Button>
    </AntDesign.Col>
</AntDesign.Row>

<AntDesign.Divider />
        
<h2>@_gastgezin?.Name</h2>

<p>Kies de superkatten uit de beschikbare katten en koppel deze aan dit gastgezin.</p>
<AntDesign.Row>
    <p>Hieruit kan je selecteren</p>
    <AntDesign.Col Class="col-12">            
        @foreach(var superkat in AvailableSuperkatten)
        {
            <AntDesign.Button Class="btn btn-primary" 
                OnClick="() => AddSuperkatToSelection(superkat)">
                <div>
                    @GetSuperkatNumber(superkat)<br>
                    @superkat.Name
                </div>
            </AntDesign.Button>
        }
    </AntDesign.Col>
</AntDesign.Row>
    
<Divider />
    
<p>Geselecteerde katten</p>
<AntDesign.Row>
    <AntDesign.Col Class="col-12">            
        @foreach(var superkat in AssignedSuperkatten)
        {
            <AntDesign.Button Class="btn btn-primary" 
                OnClick="() => RemoveSuperkatFromSelection(superkat)">
                <div>
                    @GetSuperkatNumber(superkat)<br>
                    @superkat.Name
                </div>
            </AntDesign.Button>
        }
    </AntDesign.Col>
</AntDesign.Row>
