@page "/AssignSuperkatten/{GastgezinId:guid}"

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnClose">Terug</Button>

<Divider />
        
<Div Margin="Margin.Is2" Border="Border.Is0">
    <Field><h3>Gastgezin: @_gastgezin?.Name</h3></Field>
    <Field>Kies de superkatten uit de beschikbare katten en koppel deze aan dit gastgezin.</Field>
</Div>

<Div Margin="Margin.Is2" Border="Border.Is3">
    @foreach(var superkat in AssignedSuperkatten)
    {
        <Button Margin="Margin.Is1" Size="Size.Small" Color="Color.Primary" Clicked="() => { RemoveSuperkatFromSelection(superkat); }">
            @GetSuperkatNumber(superkat)<br>
            @superkat.Name
        </Button>
    }
</Div>

<Div Margin="Margin.Is2" Border="Border.Is0">
    <Field>Kies uit onderstaande beschikbare katten</Field>
</Div>
<Div Margin="Margin.Is2" Border="Border.Is1">
    @foreach(var superkat in AvailableSuperkatten)
    {
        <Button Margin="Margin.Is1" Size="Size.Small" Color="Color.Primary" Clicked="async () => { await AddSuperkatToSelectionAsync(superkat); }">
            @GetSuperkatNumber(superkat)<br>
            @superkat.Name
        </Button>
    }
</Div>

