@page "/CreateSuperkat"

@using Superkatten.Katministratie.Host.Api
@using Superkatten.Katministratie.Host.Components.SuperkatComponents
@using Superkatten.Katministratie.Host.Entities
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Contract.Entities
@using Superkatten.Katministratie.Host.Components.Helpers

@inject ISuperkattenListService _superkattenService
@inject MessageService _message
@inject NotificationService _notice

<PageTitle>Nieuwe superkat</PageTitle>

<Row Class="border mb-2">
    <Col Class="col-4">
        <Button Block="@true" OnClick="@OnOk">Ok</Button>
    </Col>
    <Col Class="col-4">
        <Button Block="@true" OnClick="@OnOkNoReturn">Nieuwe kat</Button>
    </Col>
    <Col Class="col-4">
        <Button Block="@true" OnClick="@OnCancel">Terug</Button>
    </Col>
</Row>

<Divider />

<HeaderItem Titel="Vang informatie:"></HeaderItem>
<Row Class="m-2">
    <span>Gevangen op</span> 
    <DatePicker
        Bordered="@false" 
        TValue="DateTime?" 
        Picker="@DatePickerType.Date" 
        OnChange="OnChangeCatchDate" 
        DefaultValue="@DateTime.UtcNow" />
    <Input Class="my-1" Placeholder="vanglokatie" @bind-Value="@CatchLocation" />
</Row>

<HeaderItem Titel="Gedrag:"></HeaderItem>
<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@Behaviour" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Class="p-1" Value="@(Contract.Entities.CatBehaviour.Unknown)">
                <BehaviourComponent Behaviour="@CatBehaviour.Unknown" />
            </Radio>
            <Radio RadioButton Class="p-1" Value="@(Contract.Entities.CatBehaviour.Social)">
                <BehaviourComponent Behaviour="@CatBehaviour.Social" />
            </Radio>
            <Radio RadioButton Class="p-1" Value="@(Contract.Entities.CatBehaviour.Shy)">
                <BehaviourComponent Behaviour="@CatBehaviour.Shy" />
            </Radio>
        </RadioGroup>
    </Col>
</Row>

<HeaderItem Titel="Medicatie:"></HeaderItem>
<Row Class="m-2">
    <Col Class="col-12">
        Stronghold: 
        <Checkbox @bind-Checked="@StrongHoldGiven">
            @($"{(StrongHoldGiven ? "Stronghold gegeven" : "Geen stronghold gegeven")}")
        </Checkbox>
    </Col>
</Row>

<HeaderItem Titel="Extra info:"></HeaderItem>
<Row Class="mb-2">
    <Col Class="col-12">
        Retour:
        <Checkbox @bind-Checked="@Retour">
            @($"{(Retour ? "Kat gaat retour" : "Kat gaat adoptieproces in")}")
        </Checkbox>
    </Col>
</Row>

<HeaderItem Titel="Leeftijd info:"></HeaderItem>
<Row Class="m-2">
    <Col Class="col-12">        
        <Row Class="">
            <Col Class="me-4">
                <RadioGroup @bind-Value="@AgeCategory" ButtonStyle="@RadioButtonStyle.Solid">
                    <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.AgeCategory.Kitten)">Kitten</Radio>
                    <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.AgeCategory.Juvenile)">Jeugdig</Radio>
                    <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.AgeCategory.Adult)">Volwassen</Radio>
                </RadioGroup>
            </Col>
            <Col Class="me-2">
                @switch (AgeCategory)
                {
                    case AgeCategory.Kitten:
                        <p>Weken oud:</p>
                        break;
                    case AgeCategory.Juvenile:
                        <p>Maanden oud:</p>
                        break;
                    case AgeCategory.Adult:
                        <p>Jaren oud:</p>
                        break;
                    default:
                        <p>weken oud</p>
                        break;
                }
            </Col>
            <Col>
                <AntDesign.InputNumber 
                    Min="1"
                    Disabled="@ValidCatchLocation" 
                    DefaultValue="1" 
                    Size="@InputSize.Small" 
                    @bind-Value="@EstimatedWeeksOld"/>
            </Col>
        </Row>
    </Col>
</Row>

<HeaderItem Titel="Kleur:"></HeaderItem>
<Row Class="m-2">
    <Col Class="col-12">
        <Input Placeholder="Kleur kat" @bind-Value="@CatColor" />
    </Col>
</Row>

<HeaderItem Titel="Ruimte"></HeaderItem>

<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@CatArea" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Class="mx-1" Value="@Contract.Entities.CatArea.Quarantine">Quarantaine</Radio>
            <Radio RadioButton Class="mx-1"Value="@(Contract.Entities.CatArea.Infirmary)">Ziekenboeg</Radio>
            <Radio RadioButton Class="mx-1"Value="@(Contract.Entities.CatArea.Room2)">Kamer 2</Radio>
            <Radio RadioButton Class="mx-1"Value="@(Contract.Entities.CatArea.SmallEnclosure)">KLeine ren</Radio>
            <Radio RadioButton Class="mx-1"Value="@(Contract.Entities.CatArea.BigEnclosure)">Grote ren</Radio>
        </RadioGroup>
    </Col>
</Row>
<Row>
    <Col Class="col-12">        
        Hok:<AntDesign.InputNumber 
                Min="1"
                Max="@MAX_HOKNUMBER_ALLOWED"
                DefaultValue="1" 
                @bind-Value="@CageNumber"/>
    </Col>
</Row>

<HeaderItem Titel="Gender"></HeaderItem>

<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@Gender" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.Gender.Unknown)">Onbekend</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.Gender.Molly)">Poes</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.Gender.Tomcat)">Kater</Radio>
        </RadioGroup>
    </Col>
</Row>

<HeaderItem Titel="Voer"></HeaderItem>

<Row Class="m-2">
    <Col Class="col-12">
        <Checkbox @bind-Checked="@WetFoodAllowed" style="font-size:18px;">
            @($"{(WetFoodAllowed ? "Nat toegestaan" : "Alleen droog")}")
        </Checkbox>
    </Col>
</Row>
<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@FoodType" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.FoodType.FirstPhase)">Eerste Fase</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.FoodType.SecondPhase)">Tweede Fase</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.FoodType.Rc365)">RC 365</Radio>
        </RadioGroup>
    </Col>
</Row>

<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@LitterType" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.LitterGranuleType.Normal)">Normaal</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.LitterGranuleType.Clumping)">Klontvormend</Radio>
            <Radio RadioButton Class="mx-1" Value="@(Contract.Entities.LitterGranuleType.Wood)">Hout korrels</Radio>
        </RadioGroup>
    </Col>
</Row>