@page "/CreateSuperkat"

@using Blazorise.Snackbar
@using Superkatten.Katministratie.Host.Api
@using Superkatten.Katministratie.Host.Components.SuperkatComponents
@using Superkatten.Katministratie.Host.Entities
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Contract.Entities
@using Superkatten.Katministratie.Host.Components.Helpers

<PageTitle>Nieuwe superkat</PageTitle>

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnStopAndReturn">Terug</Button>

<Divider />

<HeaderItem Titel="Vang informatie:"></HeaderItem>
<Field>
    <FieldLabel>Locatie</FieldLabel>

    <Autocomplete TItem="Location"
              TValue="Guid"
              Data="@Locations"
              TextField="@(( item ) => item.Name)"
              ValueField="@(( item ) => item.Id)"
              @bind-SelectedValue="@CatchLocationNameId"
              @bind-SelectedText="@CatchLocationName"
              Placeholder="Search..."
              Filter="AutocompleteFilter.StartsWith"
              FreeTyping
              CustomFilter="@(( item, searchValue ) => item.Name.IndexOf( searchValue, 0, StringComparison.CurrentCultureIgnoreCase ) >= 0 )">
        <NotFoundContent> Sorry... @context niet gevonden :( </NotFoundContent>
    </Autocomplete>
</Field>

<Field>
    <FieldLabel>Type locatie</FieldLabel>
    <RadioGroup TValue="@Contract.Entities.LocationType" Color="Color.Light" Buttons @bind-CheckedValue="@CatchLocationType">
        <Radio Value="@Contract.Entities.LocationType.Farm">Boerderij</Radio>
        <Radio Value="@Contract.Entities.LocationType.PrivateProperty">Particulier terein</Radio>
        <Radio Value="@Contract.Entities.LocationType.AllotmentGarden">Volkstuin</Radio>
    </RadioGroup>
    <RadioGroup TValue="@Contract.Entities.LocationType" Color="Color.Light" Buttons @bind-CheckedValue="@CatchLocationType">
        <Radio Value="@Contract.Entities.LocationType.Camping">Camping</Radio>
        <Radio Value="@Contract.Entities.LocationType.Farmhouse">Woonboerderij</Radio>
        <Radio Value="@Contract.Entities.LocationType.Stable">Paardenstal</Radio>
    </RadioGroup>
    <RadioGroup TValue="@Contract.Entities.LocationType" Color="Color.Light" Buttons @bind-CheckedValue="@CatchLocationType">
        <Radio Value="@Contract.Entities.LocationType.BusinessPark">Bedrijventerein</Radio>
        <Radio Value="@Contract.Entities.LocationType.UrbanArea">Stedelijk gebied</Radio>
        <Radio Value="@Contract.Entities.LocationType.RuralArea">Landelijk gebied</Radio>
    </RadioGroup>
    <RadioGroup TValue="@Contract.Entities.LocationType" Color="Color.Light" Buttons @bind-CheckedValue="@CatchLocationType">
        <Radio Value="@Contract.Entities.LocationType.NatureReserve">Natuurgebied</Radio>
    </RadioGroup>
</Field>
<Field>
    <FieldLabel>Datum</FieldLabel>
    <DateEdit TValue="DateTime?" @bind-Date="@CatchDate" />
</Field>

<HeaderItem Titel="Gedrag:"></HeaderItem>
<RadioGroup TValue="@Contract.Entities.CatBehaviour" Color="Color.Light" Buttons @bind-CheckedValue="@Behaviour">
    <Radio Value="@Contract.Entities.CatBehaviour.Social"><BehaviourComponent Behaviour="@CatBehaviour.Social" /></Radio>
    <Radio Value="@Contract.Entities.CatBehaviour.Unknown"><BehaviourComponent Behaviour="@CatBehaviour.Unknown" /></Radio>
    <Radio Value="@Contract.Entities.CatBehaviour.Shy"><BehaviourComponent Behaviour="@CatBehaviour.Shy" /></Radio>
</RadioGroup>

<HeaderItem Titel="Medicatie:"></HeaderItem>
<Check TValue="bool" @bind-Checked="@StrongHoldGiven">Stronghold gegeven</Check>

<HeaderItem Titel="Extra info:"></HeaderItem>
<Check TValue="bool" @bind-Checked="@Retour">Retour</Check>

<HeaderItem Titel="Leeftijd info:"></HeaderItem>
<RadioGroup TValue="@Contract.Entities.AgeCategory" Color="Color.Light" Buttons @bind-CheckedValue="@AgeCategory">
    <Radio Value="@Contract.Entities.AgeCategory.Kitten">Kitten</Radio>
    <Radio Value="@Contract.Entities.AgeCategory.Juvenile">Junior</Radio>
    <Radio Value="@Contract.Entities.AgeCategory.Adult">Volwassen</Radio>
</RadioGroup>
<Row>
    <Column ColumnSize="ColumnSize.Is3">
        <NumericEdit Value="5" @bind-Text="@EstimatedWeeksOld"/>
    </Column>
    <Column ColumnSize="ColumnSize.Is9">
        @switch (AgeCategory)
        {
        case AgeCategory.Kitten:
            <TextEdit Placeholder="weken oud" />
            break;
        case AgeCategory.Juvenile:
            <TextEdit Placeholder="maanden oud" />
            break;
        case AgeCategory.Adult:
            <TextEdit Placeholder="jaren oud" />
            break;
        default:
            <TextEdit Placeholder="??" />
            break;
        }
    </Column>
</Row>

<HeaderItem Titel="Kleur:"></HeaderItem>
<Field>
    <TextEdit Placeholder="Kleur kat" @bind-Text="@CatColor"/>
</Field>

<HeaderItem Titel="Ruimte"></HeaderItem>
<RadioGroup TValue="@Contract.Entities.CatArea" Color="Color.Light" Buttons @bind-CheckedValue="@CatArea">
    <Radio Value="@Contract.Entities.CatArea.Quarantine">Quarantaine</Radio>
    <Radio Value="@Contract.Entities.CatArea.Infirmary">Ziekenboeg</Radio>
    <Radio Value="@Contract.Entities.CatArea.Room2">Kamer 2</Radio>
</RadioGroup>
<RadioGroup TValue="@Contract.Entities.CatArea" Color="Color.Light" Buttons @bind-CheckedValue="@CatArea">
    <Radio Value="@Contract.Entities.CatArea.SmallEnclosure">Kleine ren</Radio>
    <Radio Value="@Contract.Entities.CatArea.BigEnclosure">Grote ren</Radio>
</RadioGroup>
@if(CanEnterHokNumber)
{
    <p>Hok: </p> <NumericEdit Min="1" Max="@MAX_HOKNUMBER_ALLOWED" TValue="int" @bind-Value="@CageNumber" />
}
<HeaderItem Titel="Geslacht"></HeaderItem>
<RadioGroup TValue="@Contract.Entities.Gender" Color="Color.Light" Buttons @bind-CheckedValue="@Gender">
    <Radio Value="@Contract.Entities.Gender.Unknown">Onbekend</Radio>
    <Radio Value="@Contract.Entities.Gender.Molly">Poes</Radio>
    <Radio Value="@Contract.Entities.Gender.Tomcat">Kater</Radio>
</RadioGroup>

<HeaderItem Titel="Voer"></HeaderItem>
<RadioGroup TValue="@Contract.Entities.FoodType" Color="Color.Light" Buttons @bind-CheckedValue="@FoodType">
    <Radio Value="@Contract.Entities.FoodType.FirstPhase">Eerste Fase</Radio>
    <Radio Value="@Contract.Entities.FoodType.SecondPhase">Tweede Fase</Radio>
    <Radio Value="@Contract.Entities.FoodType.Rc365">RC 365</Radio>
</RadioGroup>
<RadioGroup TValue="@Contract.Entities.LitterGranuleType" Color="Color.Light" Buttons @bind-CheckedValue="@LitterType">
    <Radio Value="@Contract.Entities.LitterGranuleType.Normal">Normaal</Radio>
    <Radio Value="@Contract.Entities.LitterGranuleType.Clumping">Klontvormend</Radio>
    <Radio Value="@Contract.Entities.LitterGranuleType.Wood">Hout korrels</Radio>
</RadioGroup>

<Divider />
<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnAddSuperkat">Toevoegen</Button>

<Divider />