@page "/OverviewSuperkatten"

@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Components.SuperkatComponents
@using Superkatten.Katministratie.Host.Services

@inject NavigationManager _navigationManager;
@inject ISuperkatActionService _superkatActionService;

<PageTitle>Superkatten</PageTitle>

@if(Superkatten is null)
{
    <IsLoadingMessage InfoTitle="Initialisatie." InfoMessage="Inlezen data..." />
    return;
}

<AntDesign.Row Class="mb-2">
    <AntDesign.Col Class="col-9">
        <Button Block="@true" OnClick="@OnBackHome">Terug</Button>
    </AntDesign.Col>
    <AntDesign.Col Class="col-3">
        <AntDesign.Button>
            <AntDesign.Checkbox @bind-Checked="@_enableSimpleListView" OnChange="@OnChangeSimpleListView">
                Simple
            </AntDesign.Checkbox>
        </AntDesign.Button>
    </AntDesign.Col>
</AntDesign.Row>

@if (!Superkatten.Any())
{
    <IsLoadingMessage InfoTitle="Superkatten." InfoMessage="@LoadingInfoMessage" />
}
else
{
@foreach (var superkat in Superkatten)
    {
        if (_enableSimpleListView)
        {
            <SimpleSuperkatComponent Superkat=superkat />
        }
        else
        {
            <SuperkatComponent Superkat=superkat />
        }
    }
}
