@page "/SelectSuperkatForGastgezin"

@using Superkatten.Katministratie.Host.Components.GastgezinComponents;

@inject NavigationManager _navigationManager

<h3>SelectSuperkatForGastgezin</h3>

<Row Class="mb-2">
    <Col Class="col-12">
        <Button Class="btn btn-primary" Block="@true" OnClick="@OnBackHome">Terug</Button>
    </Col>
</Row>

<Row Class="mb-2">
    <Col Class="col-12">
        <Button Class="btn btn-primary" Block="@true" OnClick="@OnOk">Ok</Button>
    </Col>
</Row>

<Row Class="mb-2">
    <Col Class="col-12">
        <Button Class="btn btn-primary" Block="@true" OnClick="@OnCancel">Cancel</Button>
    </Col>
</Row>

<Divider />

@if (Gastgezin is not null)
{
    <p class="my-2">Toewijzen van katten aan @Gastgezin.Name</p>
    <SuperkattenSelector Gastgezin=Gastgezin/>
}
