@using Superkatten.Katministratie.Application.Contracts

<div class="container-fluid border">
    <div class="p-0 m-0 row">
        <div class="p-1 col-2">
            <SuperkatAction OnClickCallback="@ReserveSuperkat" ActionName="D" ActionIcon="verified" />
        </div>
        <div class="p-1 col-2">
            <SuperkatAction OnClickCallback="@ReserveSuperkat" ActionName="D" ActionIcon="lock" />
        </div>
        <div class="p-1 col-2">
            <SuperkatAction OnClickCallback="@ReserveSuperkat" ActionName="D" ActionIcon="find_replace" />
        </div>
        <div class="p-1 col-2">
            <SuperkatAction OnClickCallback="@ReserveSuperkat" ActionName="D" ActionIcon="settings_input_antenna" />
        </div>
        <div class="p-1 col-2">
            <SuperkatAction OnClickCallback="@ReserveSuperkat" ActionName="D" ActionIcon="dangerous" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Superkat? SuperkatContext { get; set; }

    private void ReserveSuperkat()
    {
        
    }    
}
