@page "/AddMedicalProcedure/{SuperkatId:guid}"

@using Superkatten.Katministratie.Contract.Entities
@using Superkatten.Katministratie.Host.Components.Helpers

<h3>Toevoegen medische handeling voor kat @SuperkatNumber</h3>

<AntDesign.Row Class="border mb-2">
    <AntDesign.Col Class="col-6">
        <Button Block="@true" OnClick="@OnOk">Ok</Button>
    </AntDesign.Col>
    <AntDesign.Col Class="col-6">
        <Button Block="@true" OnClick="@OnCancel">Terug</Button>
    </AntDesign.Col>
</AntDesign.Row>

<AntDesign.Divider />

<HeaderItem Titel="Datum:" />
<AntDesign.DatePicker
    Bordered="@false" 
    TValue="DateTime?" 
    Picker="@AntDesign.DatePickerType.Date" 
    OnChange="@OnChangeDate" 
    DefaultValue="@DateTime.UtcNow" />

<HeaderItem Titel="Medische handeling:" />
<AntDesign.Row Class="m-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.RadioGroup @bind-Value="@ProcedureType" ButtonStyle="@AntDesign.RadioButtonStyle.Solid">
            <AntDesign.Radio RadioButton Value="@(MedicalProcedureType.Stronghold)">Stronghold</AntDesign.Radio>
            <AntDesign.Radio RadioButton Value="@(MedicalProcedureType.Neutralize)">Neutraliseren</AntDesign.Radio>
            <AntDesign.Radio RadioButton Value="@(MedicalProcedureType.Checkup)">Controle</AntDesign.Radio>
            <AntDesign.Radio RadioButton Value="@(MedicalProcedureType.Sickness)">Ziekte/Ongeluk</AntDesign.Radio>
        </AntDesign.RadioGroup>
    </AntDesign.Col>
</AntDesign.Row>

<HeaderItem Titel="Opmerking:" />

<AntDesign.Row Class="m-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.Input Value="@Remark" />
    </AntDesign.Col>
</AntDesign.Row>