@page "/AddMedicalProcedure/{SuperkatId:guid}"

@using Blazorise.Components

<h3>Toevoegen medische handeling voor kat @SuperkatNumber</h3>

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnOk">Ok</Button>
<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCancel">Terug</Button>

<AntDesign.Divider />


<Field>
    <FieldLabel>Datum</FieldLabel>
    <DateEdit TValue="DateTime" @bind-Date="@TimeStamp" />
</Field>

<SelectList TItem="MySelectModel"
            TValue="int"
            Data="@myDdlData"
            TextField="@((item)=>item.MyTextField)"
            ValueField="@((item)=>item.MyValueField)"
            SelectedValue="@selectedListValue"
            SelectedValueChanged="@MyListValueChangedHandler"
            DefaultItemText="Choose your country" />

<Field Margin="Margin.Is1">
    <FieldLabel>Opmerkingen</FieldLabel>
    <MemoEdit @bind-Text="@Remark" AutoSize />
</Field>
