@page "/CreateGastgezin"

@using Superkatten.Katministratie.Host.Services

<h3>Aanmaken van een gastgezin</h3>

<PageTitle>Nieuwe superkat</PageTitle>

<Button Size="Size.Large" Color="Color.Primary" Clicked="@OnOk">Ok</Button>
<Button Size="Size.Large" Color="Color.Primary" Clicked="@OnCancel">Terug</Button>

<AntDesign.Divider />

<Field>
    <FieldLabel>Naam:</FieldLabel>
    <TextEdit Placeholder="Naam gezin" @bind-Text="@GastgezinData.Name"/>
</Field>
<Field>
    <FieldLabel>Adres:</FieldLabel>
    <TextEdit Placeholder="Naam gezin" @bind-Text="@GastgezinData.Address"/>
</Field>
<Field>
    <FieldLabel>Woonplaats:</FieldLabel>
    <TextEdit Placeholder="Naam gezin" @bind-Text="@GastgezinData.City"/>
</Field>
<Field>
    <FieldLabel>Telefoon:</FieldLabel>
    <TextEdit Placeholder="Naam gezin" @bind-Text="@GastgezinData.Phone"/>
</Field>
