@page "/CreateGastgezin"

@using Superkatten.Katministratie.Host.Services

<h3>Aanmaken van een gastgezin</h3>

<PageTitle>Nieuwe superkat</PageTitle>

<AntDesign.Row Class="mb-2">
    <AntDesign.Col Class="col-4">
        <Button Block="@true" Disabled="@ValidName" OnClick="@OnOk">Ok</Button>
    </AntDesign.Col>
    <AntDesign.Col Class="col-4">
        <Button Block="@true" OnClick="@OnCancel">Terug</Button>
    </AntDesign.Col>
</AntDesign.Row>

<AntDesign.Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.Input Placeholder="Voer de naam in"  Size="@AntDesign.InputSize.Large" @bind-Value="@GastgezinData.Name" >
            <Prefix>
                <AntDesign.Icon Type="border-inner" />
            </Prefix>
        </AntDesign.Input>
    </AntDesign.Col>
</AntDesign.Row>

<Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.Input Placeholder="Voer het adres in"  Size="@AntDesign.InputSize.Large" @bind-Value="@GastgezinData.Address" >
            <Prefix>
                <AntDesign.Icon Type="border-inner" />
            </Prefix>
        </AntDesign.Input>
    </AntDesign.Col>
</Row>

<Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.Input Placeholder="Voer de woonplaats in"  Size="@AntDesign.InputSize.Large" @bind-Value="@GastgezinData.City" >
            <Prefix>
                <AntDesign.Icon Type="border-inner" />
            </Prefix>
        </AntDesign.Input>
    </AntDesign.Col>
</Row>

<Row Class="mb-2">
    <AntDesign.Col Class="col-12">
        <AntDesign.Input Placeholder="Voer het telefoonnummer in"  Size="@AntDesign.InputSize.Large" @bind-Value="@GastgezinData.Phone" >
            <Prefix>
                <Icon Type="border-inner" />
            </Prefix>
        </AntDesign.Input>
    </AntDesign.Col>
</Row>