@using Superkatten.Katministratie.Host.Api
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Host.Entities
@using System.Diagnostics;
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

@inject NavigationManager _navigationManager
@inject IGastgezinService _gastgezinService

@if(_gastgezin is null)
{
    return;
}

<Row Class="mb-2 border">
    <Col class="col-xl-1 col-lg-1 col-md-3 col-4 align-content-center">
        <Image Width="100px" Src=".\images\superkat.jpg" />
    </Col>
    <Col class="col-xl-11 col-lg-11 col-md-9 col-8">
        <h5 class="p-1 bg-black text-white">
            <span class="material-icons">face</span>
            @if (!_editModeEnabled)
            {
                <Button OnClick="@OnEdit">Edit</Button>
                <Button OnClick="@OnDelete">Delete</Button>
                <Button OnClick="@OnAddSuperkat">Toewijzen kat</Button>
            }
        </h5>
        @if (!_editModeEnabled)
        {
            <div class="mb-2">
                <div>@_gastgezin.Name</div>
                <div>@_gastgezin.Address"</div>
                <div>@_gastgezin.City</div>
                <div>@_gastgezin.Phone"></div>
            </div>
        }
        else
        {
            <Form class="mb-2" OnFinish="@OnFinish" OnFinishFailed="@OnFinishFailed"  Model="@_gastgezin" >
                <FormItem Label="Naam">
                    <Input @bind-Value="@context.Name"/>
                </FormItem>
                <FormItem Label="Adres">
                    <Input @bind-Value="@context.Address"/>
                </FormItem>
                <FormItem Label="Woonplaats">
                    <Input @bind-Value="@context.City"/>
                </FormItem>
                <FormItem Label="Telefoon">
                    <Input @bind-Value="@context.Phone"/>
                </FormItem>
                <FormItem WrapperColOffset="8" WrapperColSpan="16">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">
                        Submit
                    </Button>
                </FormItem>
            </Form>
        }
    </Col>
</Row>

@code {
    [Parameter]
    public Gastgezin _gastgezin { get; set; } = new();

    public bool _editModeEnabled;

    public void OnAdd()
    {
        _navigationManager.NavigateTo("CreateGastgezin");
    }

    public async Task OnDelete()
    {
        await _gastgezinService.DeleteGastgezinAsync(_gastgezin.Id);
    }

    public void OnEdit()
    {
        _editModeEnabled = true;
    }

    private void OnFinish(EditContext editContext)
    {
        var gastgezin = editContext.Model as Gastgezin;
        if (gastgezin is null)
        {
            throw new Exception("Internal error; geen gastgezin meegegeven tijdens opslaan.");
        }

        var updateGastgezinParameters = new CreateOrUpdateGastgezinParameters()
        {
            Name = gastgezin.Name,
            Address = gastgezin.Address!,
            City = gastgezin.City!,
            Phone = gastgezin.Phone!
        };
        _gastgezinService.UpdateGastgezinAsync(gastgezin.Id, updateGastgezinParameters);

        _editModeEnabled = false;
    }

    private void OnFinishFailed(EditContext editContext)
    {
        _editModeEnabled = false;
    }

    private void OnAddSuperkat()
    {
        _navigationManager.NavigateTo("SelectSuperkatForGastgezin");
    }
}
