@using Superkatten.Katministratie.Host.Services

@inject IPrinterService _printerService;

<Modal Title="@ModelTitle"
       Visible="@IsVisible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
       @foreach(var printer in _printers)
       {
           <Button OnClick="() => { SelectPrinter(printer.Name); }">@printer.Name</Button>
           <br />
       }
</Modal>