@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Host.Components

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2 align-content-center">
      <img src=".\images\superkat.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title bg-black text-white">@SuperkatDisplayableNumber</h5>
        <div class="card-text">
            @if (!string.IsNullOrEmpty(@Superkat.Name)) 
            {
                <div>Naam:</div> 
            }
            @Superkat.Name
            <br />
            Locatie: @Superkat.CatchLocation
            <br />
            @if (!string.IsNullOrEmpty(@Superkat.SuperkatColor)) 
            { 
                <div>Kleur:</div>
            }
            @Superkat.SuperkatColor
        </div>
        <p class="card-text"><small class="text-muted"><SuperkatActions @bind-Superkat="@Superkat" /></small></p>
      </div>
    </div>
  </div>
</div>


@code {
    [ParameterAttribute]
    public Superkat Superkat { get; set; } = new();

    public string SuperkatName
    {
        get
        {
            if (Superkat is null)
            {
                return "onbekend";
            }

            if (string.IsNullOrEmpty(Superkat?.Name))
            {
                return "geen naam";
            }

            return Superkat.Name;
        }
    }

    public string SuperkatDisplayableNumber 
    {
        get
        { 
            if (Superkat is null)
            {
                return "?";
            }

            var yearPart = Superkat.FoundDate.Year % 100;
            return yearPart + "-" + Superkat?.Number.ToString("000");
        }
    }
}
