@using Superkatten.Katministratie.Application.Entities

<div class="m-0 p-0">
    <Tooltip Placement="@Placement.TopRight" Title="@TooltipText">
        <Image Src="@ActionIcon" Alt="@TooltipText" OnClick="@ExecuteAction" Preview="false" />
    </Tooltip>
</div>

@code {
    [Parameter]
    public string ActionIcon { get; set; } = string.Empty;

    [Parameter]
    public string TooltipText { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClickCallback { get; set; }
    

    public void ExecuteAction() => OnClickCallback.InvokeAsync();
}
