@using Superkatten.Katministratie.Application.Entities
@using Superkatten.Katministratie.Host.Components

<Row Class="mb-2 border">
    <Col class="col-xl-1 col-lg-1 col-md-3 col-4 align-content-center">
        <Image Width="100px" Src=".\images\superkat.jpg" />
    </Col>
    <Col class="col-xl-11 col-lg-11 col-md-9 col-8">
        <h5 class="p-1 bg-black text-white">@SuperkatDisplayableNumber</h5>
        <h5 class="m-1"><BehaviourComponent Behaviour="@Superkat.Behaviour" /></h5>
        <div class="mb-2">
            <div class="mb-0">Locatie: @Superkat.CatchLocation</div>
            <div class="mb-0">Area: @Superkat.Area</div>
            <div class="mb-0">Hok: @Superkat.CageNumber</div>
        </div>
        <div class="mb-0 pt-1">
            <SuperkatActions @bind-Superkat="@Superkat" />
        </div>
    </Col>
</Row>


@code {
    [ParameterAttribute]
    public Superkat Superkat { get; set; } = new();

    public string SuperkatDisplayableNumber => Superkat.DisplayableNumber;
}
