@using Superkatten.Katministratie.Application.Contracts

<div style="background-color:lightgray">
    <Row>
        <Col>
            <Image Width="200px" Src="@SuperkatFoto" />
        </Col>
        <Col>
            <Card Title="@Context.Name" style="background-color:lightblue">
                <Extra>
                    <a>@Context.Number</a>
                </Extra>
                <Body>        
                    <p>Number: @Context.Number</p>
                    <p>Found at: @Context.FoundDate</p>
                    <p>Location: @Context.Location</p>
                </Body>
            </Card>
        </Col>
    </Row>
</div>

@code {
    [Parameter]
    public Superkat Context { get; set; }

    public string SuperkatFoto 
    {
        get 
        {
            return "../images/nosuperkatpicture.jpg";
        }
    }

}
