@page "/superkatten"
@using System.ComponentModel
@using AntDesign.TableModels
@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services
@using System.Text.Json;

@inject NavigationManager NavigationManager

<Table @ref="table"
       TItem="SuperkatDisplay"
       DataSource="@Superkatten"
       Total="_total"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="selectedRows"
       OnChange="OnChangeAsync"
        >
    <ActionColumn>
        <Button Type="@ButtonType.Primary" OnClick="()=>EditSuperkat(context.Number)">Edit</Button>
    </ActionColumn>

    <ActionColumn>
        <Dropdown Trigger="@(new Trigger[] { Trigger.Click })" OnClick='e => {  }'>
            <Overlay>
                @_overlayMenu(@context.Number)
            </Overlay>
            <ChildContent>
                <Button>Actie<Icon Type="down" /></Button>
            </ChildContent>
        </Dropdown>    
    </ActionColumn>
    
    <Column Title="#" @bind-Field="@context.Number" Sortable />
    <Column Title="Found" @bind-Field="@context.FoundDate" Format="yyyy-MM-dd" Sortable />
    <Column Title="Name" @bind-Field="@context.Name" Sortable />
    <Column Title="Location" Field="@context.Location" />
    
    <ActionColumn>
        <Button Danger OnClick="()=>DeleteSuperkat(context.Number)">Delete</Button>
    </ActionColumn>
</Table>

@code {
    IEnumerable<SuperkatDisplay> selectedRows;
    ITable table;

    int _pageIndex = 1;
    int _pageSize = 5;
    int _total = 0;

    public class SuperkatDisplay
    {
        public string Picture { get; set; } = string.Empty;
        public int Number { get; set; }
        public string Name { get; set; } = string.Empty;
        public DateTimeOffset FoundDate { get; set; }
        public int Location { get; set; } = 0;
    }

    [Inject]
    public ISuperkattenListService? _superkattenService { get; set; }

    [Inject]
    public ISuperkatActionService? _superkatActionService { get; set; }


    public List<SuperkatDisplay>? Superkatten { get; set; }

    protected override async Task OnInitializedAsync() => await UpdateListAsync();

    public void ItemClick(int superkatNumber)
    {
        NavigationManager.NavigateTo($"superkat/{superkatNumber}");
    }

    public async Task OnChangeAsync(QueryModel<SuperkatDisplay> queryModel)
    {
        await UpdateListAsync();
    }

    private async Task UpdateListAsync()
    {
        if (_superkattenService == null)
        {
            return;
        }

        var superkatten = await _superkattenService.GetAllSuperkattenAsync();
        Superkatten = superkatten
            .AsQueryable()
            .Select(s => ConvertToLocalSuperkat(s))
            .OrderBy(s => s.Name)
            .ToList();
    }

    private SuperkatDisplay ConvertToLocalSuperkat(Superkat superkat)
    {
        return new SuperkatDisplay
        {
            Number = superkat.Number,
            Name = superkat.Name,
            FoundDate = superkat.FoundDate,
            Location = superkat.Location,
            Picture = superkat.Picture
        };
    }

    private void EditSuperkat(int superkatNumber) => NavigationManager.NavigateTo($"/superkat/{superkatNumber}");
    private void DeleteSuperkat(int superkatNumber) => _superkattenService!.DeleteSuperkatAsync(superkatNumber);

    private void SuperkatCastration(int superkatNumber)
    {
        Console.WriteLine("Castration");
        _superkatActionService.CastrationAsync(superkatNumber);
    }

    private void SuperkatDewurm(int superkatNumber) => NavigationManager.NavigateTo($"/deworm/{superkatNumber}");
    private void SuperkatReserve(int superkatNumber) => NavigationManager.NavigateTo($"/reserve/{superkatNumber}");
    private void SuperkatApplyMedicine(int superkatNumber) => NavigationManager.NavigateTo($"/applymedicine/{superkatNumber}");

    private RenderFragment _overlayMenu(int superkatNumber)
    {
        return
            @<Menu>
                <MenuItem>
                    <div style="background-color:palevioletred; color: rgb(100, 100, 100)">
                    <Button Type="@ButtonType.Link" OnClick="()=>SuperkatCastration(superkatNumber)">Castration</Button>
                    </div>
                </MenuItem>
                <MenuItem>
                    <Button Type="@ButtonType.Link" OnClick="()=>SuperkatDewurm(superkatNumber)">Ontwormen</Button>
                </MenuItem>
                <MenuItem>
                    <Button Type="@ButtonType.Link" OnClick="()=>SuperkatReserve(superkatNumber)">Reserveren</Button>
                </MenuItem>
                <MenuItem>
                    <Button Type="@ButtonType.Link" OnClick="()=>SuperkatApplyMedicine(superkatNumber)">Medicijn</Button>
                </MenuItem>
            </Menu>
        ;
    }
}
