@page "/AddMedicalProcedure/{SuperkatId:guid}"

@using Superkatten.Katministratie.Contract.Entities
@using Superkatten.Katministratie.Host.Components.Helpers

<h3>Toevoegen medische handeling voor kat @SuperkatId</h3>

<Row Class="border mb-2">
    <Col Class="col-4">
        <Button Block="@true" OnClick="@OnOk">Ok</Button>
    </Col>
    <Col Class="col-4">
        
    </Col>
    <Col Class="col-4">
        <Button Block="@true" OnClick="@OnCancel">Terug</Button>
    </Col>
</Row>

<Divider />

<HeaderItem Titel="Datum:" />
<DatePicker
    Bordered="@false" 
    TValue="DateTime?" 
    Picker="@DatePickerType.Date" 
    OnChange="@OnChangeDate" 
    DefaultValue="@DateTime.UtcNow" />

<HeaderItem Titel="Medische handeling:" />
<Row Class="m-2">
    <Col Class="col-12">
        <RadioGroup @bind-Value="@ProcedureType" ButtonStyle="@RadioButtonStyle.Solid">
            <Radio RadioButton Value="@(MedicalProcedureType.Stronghold)">Onbekend</Radio>
        </RadioGroup>
    </Col>
</Row>

<HeaderItem Titel="Opmerking:" />

<Row Class="m-2">
    <Col Class="col-12">
        <Input Value="@Remark" />
    </Col>
</Row>