@page "/CreateSuperkat"

@using Newtonsoft.Json
@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Application.Contracts;

@inject NavigationManager NavigationManager
@inject ISuperkattenListService _superkattenService
@inject MessageService _message

<PageTitle>Nieuwe superkat</PageTitle>

<Button OnClick="@OnOk">Ok</Button>
<Button OnClick="@OnOkAndNew">Nieuw</Button>
<Button OnClick="@OnCancel">Cancel</Button>

<Input Placeholder="Voer vanglokatie in"  Size="@InputSize.Large" @bind-Value="@parameters.Location" >
    <Prefix>
        <Icon Type="border-inner" />
    </Prefix>
</Input>

<Switch Size="@InputSize.Large" @bind-Checked="@parameters.Retour">
    <CheckedChildrenTemplate>
        <p>Gaan weer terug</p>
    </CheckedChildrenTemplate>
    <UnCheckedChildrenTemplate>
        <p>Gaan adoptie proces in</p>
    </UnCheckedChildrenTemplate>
</Switch>

<DatePicker TValue="DateTime?" ShowTime="@true" OnChange="OnChangeCatchDate" />
<DatePicker TValue="DateTime?" ShowTime="@true" OnChange="OnChangeBirthDate" />

@code 
{
    private void OnChangeCatchDate(DateTimeChangedEventArgs args)
    {
        parameters.CatchDate = args.Date;
    }

    private void OnChangeBirthDate(DateTimeChangedEventArgs args)
    {
        parameters.CatchDate = args.Date;
    }


    private CreateSuperkatParameters parameters = 
        new CreateSuperkatParameters()
        {
            Location = string.Empty,
            Retour = false,
            Birthday = DateTime.UtcNow,
            CatchDate = DateTime.UtcNow
        };

    public async Task OnOk()
    {
        await StoreSuperkat();
        NavigationManager.NavigateTo("/");
    }

    public async Task OnOkAndNew()
    {
        await StoreSuperkat();
        await _message.Success("Voer de volgende superkat in", 3);
    }

    public void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task StoreSuperkat()
    {
        await _superkattenService.CreateSuperkatAsync(parameters);
        await _message.Success("Superkat is opgeslagen", 3);        
    }
}
