@page "/CreateSuperkat"

@using Newtonsoft.Json
@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Application.Contracts;

@inject NavigationManager NavigationManager
@inject ISuperkattenListService _superkattenService
@inject MessageService _message
@inject NotificationService _notice

<PageTitle>Nieuwe superkat</PageTitle>

<Row Class="mb-4">
    <Col Class="m-4">
        <Button Block="@true" Disabled="@ValidCatchLocation" OnClick="@OnOk">Ok</Button>
    </Col>
    <Col Class="m-4">
        <Button Block="@true" Disabled="@ValidCatchLocation" OnClick="@OnOkAndNew">Nieuwe kat</Button>
    </Col>
    <Col Class="m-4">
        <Button Block="@true" OnClick="@OnCancel">Terug</Button>
    </Col>
</Row>

<Row Class="mb-2">
    <Input Placeholder="Voer vanglokatie in"  Size="@InputSize.Large" @bind-Value="@parameters.Location" >
        <Prefix>
            <Icon Type="border-inner" />
        </Prefix>
    </Input>
</Row>

<Row Class="mb-2">
    <Title Level="4">
        Waar gaat de kat naartoe:
        <Switch Disabled="@ValidCatchLocation" @bind-Checked="@parameters.Retour">
            <CheckedChildrenTemplate>
                <Title Level="4">Gaan weer terug</Title>
            </CheckedChildrenTemplate>
            <UnCheckedChildrenTemplate>
                <Title Level="4">Gaan adoptie proces in</Title>
            </UnCheckedChildrenTemplate>
        </Switch>
    </Title>
</Row>

<Row Class="mb-6">
    <Col Class="col-6 border">
        <Title Level="4">Vangdatum:</Title>
        <br />
        <div class="pb-2">
            <DatePicker Disabled="@ValidCatchLocation" 
                Bordered="@false" 
                TValue="DateTime?" 
                Picker="@DatePickerType.Date" 
                OnChange="OnChangeCatchDate" 
                DefaultValue="@InitialDateTimeNow" 
                Placeholder="@VangdatumText"/>
        </div>
    </Col>

    <Col Class="col-6 border">
        <Title Level="4">Geboortedatum:</Title>
        <br />
        <div class="pb-2">
            <DatePicker Disabled="@ValidCatchLocation" 
                Bordered="@false" 
                TValue="DateTime?" 
                Picker="@DatePickerType.Date" 
                OnChange="OnChangeBirthDate" 
                DefaultValue="@InitialDateTimeNow" 
                Placeholder="@GeboortedatumText"/>
        </div>
    </Col>
</Row>
@code 
{
    private string VangdatumText { get; init; } = "Vangdatum";
    private string GeboortedatumText { get; init; } = "Geboortedatum";
    private DateTime InitialDateTimeNow => DateTime.UtcNow;
    private bool ValidCatchLocation => string.IsNullOrWhiteSpace(parameters.Location);

    private void OnChangeCatchDate(DateTimeChangedEventArgs args)
    {
        parameters.CatchDate = args.Date;
    }

    private void OnChangeBirthDate(DateTimeChangedEventArgs args)
    {
        parameters.CatchDate = args.Date;
    }


    private CreateSuperkatParameters parameters = 
        new CreateSuperkatParameters()
        {
            Location = string.Empty,
            Retour = false,
            Birthday = DateTime.UtcNow,
            CatchDate = DateTime.UtcNow
        };

    public async Task OnOk()
    {
        await StoreSuperkat();
        NavigationManager.NavigateTo("/");
    }

    public async Task OnOkAndNew()
    {
        await StoreSuperkat();
        await _message.Success("Voer de volgende superkat in", 2);
    }

    public void OnCancel()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task StoreSuperkat()
    {
        await _superkattenService.CreateSuperkatAsync(parameters);
        await _message.Success("Superkat is opgeslagen", 1);        
    }
}
