@page "/"
@using Superkatten.Katministratie.Host.Components.Helpers

<PageTitle>Superkatten</PageTitle>

@if (AuthenticationService is null 
    || Navigation is null 
    || SuperkattenService is null 
    || ReportingService is null
    || _loginModel is null)
{
  <Field>Initializing...</Field>
    return;
}


<Fields>
    <Field Padding="Padding.Is1">
        @if (UserLoginService?.User is not null)
        {
          <Span>
            <span class="material-icons">face</span>
              <span>
                    @UserLoginService?.User.Name
              </span>
          </Span>
        }
        else
        {
          <Field>Niet ingelogged</Field>
        }
    </Field>

    <Field TextAlignment="TextAlignment.End">
        <Button Clicked="@OnLoginLogout">
            @if (UserLoginService.IsAuthenticated)
            {   
              <Tooltip Text="Logout">

                  <span class="material-icons">logout</span>
              </Tooltip>
            }
            else
            {
                <Tooltip Text="Login">
                    <span class="material-icons">face</span>
                </Tooltip>
            }
        </Button>
   
        <Button Clicked="@OnRegister">
            <Tooltip Text="Register">
                <span class="material-icons">
                    add_circle_outline
                </span>
            </Tooltip>
        </Button>
    </Field>
</Fields>


@if (!UserLoginService.IsAuthenticated)
{
    <Divider />
    
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCreateSuperkatPhoto">
        <span class="material-icons">photo_camera</span> Maak foto
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnMoveSuperkat">
        <span class="material-icons">exit_to_app</span> Verplaats kat
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCreateSuperkat">
        <span class="material-icons">add</span> Nieuwe kat
    </Button>
    
    <Divider />

    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowSuperkatStatus">
        <span class="material-icons">visibility</span> Bekijk superkat status
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowOverviewSuperkatten">
        <span class="material-icons">visibility</span> Alle katten
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowNotNeutralized">
        <span class="material-icons">visibility</span> Niet geneutraliseerde katten
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowOverviewGastgezinnen">
        <span class="material-icons">visibility</span> Gastgezinnen
    </Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowMedicalProcedures">
        <span class="material-icons">visibility</span> Medische handelingen
    </Button>

    <Divider />

    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowReportingPage">
        <span class="material-icons">text_snippet</span> Rapportage
    </Button>
}

@if (_loginModel is null)
{
    return;
}

<Modal @ref="_authenticationDialog">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Inloggen</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
          @if (@_isLoggingIn)
          {
            <Div Position="Position.Absolute.Top.Is50.Start.Is50.Translate.Middle">
                <SpinKit Type="SpinKitType.Chase" Size="40px" />
            </Div>
            <Field>
              <TextEdit Placeholder="@_loginModel.Username" />
            </Field>
          }
          else
          {
            <Field>
                <FieldLabel>Gebruikersnaam</FieldLabel>
                <TextEdit @ref="_textEditLoginName" Role="TextRole.Text"
                          MaskType="MaskType.RegEx" 
                            EditMask="^[a-z]*$" 
                            @bind-Text="@_loginModel.Username" 
                            Placeholder="Vul de gebruikersnaam in..." 
                            KeyPress="@OnKeyPress"/>
            </Field>
            <Field>
                <FieldLabel>Wachtwoord</FieldLabel>
                <TextEdit Role="TextRole.Password" 
                            @bind-Text="@_loginModel.Password" 
                            Placeholder="Vul je wachtwoord in..."
                            KeyPress="@OnKeyPress"/>
            </Field>
          }
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideModal">
              Sluiten
            </Button>
            <Button Disabled="@_isLoggingIn" Loading="@_isLoggingIn" Color="Color.Primary" Clicked="@SaveAndHideModal">
              Ok
            </Button>            
        </ModalFooter>
    </ModalContent>
</Modal>