@page "/"

@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Helpers
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Host.Services.Authentication

@inject Navigation _navigation
@inject ISuperkattenListService _superkattenService
@inject IAuthenticationService _authenticationService

<PageTitle>Superkatten</PageTitle>

<Row>    
    <Column ColumnSize="ColumnSize.Is5">
        <Image Src="Images/superkat.jpg"></Image>
    </Column>
    <Column ColumnSize="ColumnSize.Is7">
        <h1>Superkatten katministratie</h1>
    </Column>
</Row>


@if (!_authenticationService.IsAuthenticated)
{
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnRegister">Register</Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnLogin">Login</Button>
}
else
{
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnLogout">Logout</Button>
    <Divider />
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCreateSuperkat">Nieuwe kat</Button>
    <Divider />
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowOverviewSuperkatten">Katten</Button>
    <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnShowOverviewGastgezinnen">Gastgezinnen</Button>
}


@code {
    protected override Task OnInitializedAsync()
    {
        _authenticationService.InitializeAsync();
        return base.OnInitializedAsync();
    }


    private void OnRegister()
    {
        _navigation.NavigateTo("Register");
    }

    private void OnLogin()
    {
        _navigation.NavigateTo("Login");
    }

    private void OnLogout()
    {
        _navigation.NavigateTo("Logout");
    }

    private void OnCreateSuperkat()
    {
        _navigation.NavigateTo("CreateSuperkat");
    }

    private void OnShowOverviewSuperkatten()
    {
        _navigation.NavigateTo("OverviewSuperkatten");
    }

    private void OnShowOverviewGastgezinnen()
    {
        _navigation.NavigateTo("OverviewGastgezinnen");
    }
}