@page "/"

@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Services
@using Superkatten.Katministratie.Host.Services.Authentication

@inject NavigationManager _navigationManager
@inject ISuperkattenListService _superkattenService
@inject IAuthenticationService _authenticationService

<PageTitle>Superkatten</PageTitle>

<Row>
    <Col Class="col-2">
        <Image Src="Images/superkat.jpg"></Image>
    </Col>
    <Col Class="col-10">
        <h1>Superkatten katministratie</h1>
    </Col>
</Row>

<Row>
    
    @if (!_authenticationService.IsAuthenticated)
    {
        <Button Block="@true" OnClick="OnRegister" Class="mb-2">
            Register
        </Button>

        <Button Block="@true" OnClick="OnLogin" Class="mb-2">
            Login
        </Button>
    }
    else
    {
        <Button Block="@true" OnClick="OnLogout" Class="mb-2">
            Logout
        </Button>
        
        <Button Block="@true" OnClick="OnCreateSuperkat" Class="mb-2">
            Nieuwe kat toevoegen
        </Button>

        <Divider />

        <Button Block="@true" OnClick="OnShowOverviewSuperkatten" Class="mb-2">
            Lijst katten
        </Button>
    
        <Button Block="@true" OnClick="OnShowOverviewGastgezinnen" Class="mb-2">
            Lijst gastgezinnen
        </Button>
    }
</Row>

@code {
    protected override Task OnInitializedAsync()
    {
        _authenticationService.InitializeAsync();
        return base.OnInitializedAsync();
    }


    private void OnRegister()
    {
        _navigationManager.NavigateTo("Register");
    }

    private void OnLogin()
    {
        _navigationManager.NavigateTo("Login");
    }

    private void OnLogout()
    {
        _navigationManager.NavigateTo("Logout");
    }

    private void OnCreateSuperkat()
    {
        _navigationManager.NavigateTo("CreateSuperkat");
    }

    private void OnShowOverviewSuperkatten()
    {
        _navigationManager.NavigateTo("OverviewSuperkatten");
    }

    private void OnShowOverviewGastgezinnen()
    {
        _navigationManager.NavigateTo("OverviewGastgezinnen");
    }
}