@page "/CageCard"

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnOk">Ok</Button>
<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCancel">Terug</Button>

<Divider />

<Field>
    <FieldLabel>Hoknummer</FieldLabel>
    <NumericPicker @bind-Value="@CageNumber" Min="1" Max="60" />
</Field>

<SelectList TItem="MySelectModel"
            TValue="int"
            Data="@myDdlData"
            TextField="@((item) => item.MyTextField)"
            ValueField="@((item) => item.MyValueField)"
            SelectedValue="@SelectedListValue"
            SelectedValueChanged="@MyListValueChangedHandler"
            DefaultItemText="Selecteer type handeling" />
