@page "/ReportsPage"

@using Superkatten.Katministratie.Host.Components.Helpers

<Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnBackHome">Terug</Button>

<Container>
    <Field Padding="Padding.Is2">
        <HeaderItem Titel="Kooikaart"/>
        <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnEmailCageCard">
            Email mij een kooikaart
        </Button>
    </Field>
    
    <Field Padding="Padding.Is2">
        <HeaderItem Titel="Wakker dier rapporten" />
        <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnCreateWakkerDierInventoryReport">
            Email wakker dier inventarisatie data
        </Button>
        <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnNotNeutralizedInRefugeReport">
            Email niet geneutraliseerde katten in opvang
        </Button>
    </Field>
    
    <Field Padding="Padding.Is2">
        <HeaderItem Titel="Neutraliseren" />
        <Button Block Size="Size.Large" Color="Color.Primary" Clicked="@OnNotNeutralizedAdopteesReport">
            Email niet geneutraliseerde geplaatste katten
        </Button>
    </Field>
</Container>