@using Blazorise.SpinKit
@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Components.SuperkatComponents.Action
@using Superkatten.Katministratie.Host.Entities

@if (_superkatView is null)
{
    <SpinKit Type="SpinKitType.Chase" Size="60px"/>
    return;
}

<Collapse Visible="@_superkatView.IsVisible">
    <CollapseHeader Margin="Margin.Is0">
        <Heading Size="HeadingSize.Is5">

          <Row>
             <Column ColumnSize="ColumnSize.Is2" Margin="Margin.Is0">
              <Button Clicked="@(()=>_superkatView.IsVisible = !_superkatView.IsVisible)">
                  <span class="material-icons">
                      reorder
                  </span>
              </Button>
            </Column>

            <Column ColumnSize="ColumnSize.Is3" Margin="Margin.Is0">
              <Div>
                @_superkatView.Superkat.UniqueNumber
              </Div>
            </Column>            
            
            <Column ColumnSize="ColumnSize.Is7">
              @if (@_superkatView.Superkat.Photo is not null)
            {
              if (_superkatView.IsVisible)
              {
                <Figure Size="FigureSize.Is128x128">
                  <FigureImage Source="@GetSuperkatImage(_superkatView.Superkat.Photo)" />
                </Figure>
              }
              else
              {
                <Figure>
                  <FigureImage Source="@GetSuperkatImage(_superkatView.Superkat.Photo)" />
                </Figure>
              }
            }
            </Column>
          </Row>
        </Heading>
    </CollapseHeader>
    <CollapseBody>
        <Row>
            <BehaviourComponent Behaviour="@_superkatView.Superkat.Behaviour" />
            <SuperkatGenderComponent GenderIcon="@_superkatView.GenderIcon" />
            <SuperkatStateComponent State="@_superkatView.Superkat.State" />
        </Row>
        <Row>
            <SuperkatDetailsComponent SuperkatView="@_superkatView" />
        </Row>
        <Row>
            <SuperkatActions SuperkatView="@_superkatView" OnActionExecuted="@ReloadSuperkatData" />
        </Row>
    </CollapseBody>
  </Collapse>


