@using Blazorise.SpinKit
@using Superkatten.Katministratie.Host.Components
@using Superkatten.Katministratie.Host.Components.SuperkatComponents.Action
@using Superkatten.Katministratie.Host.Entities

@if (_superkatView is null)
{
    <SpinKit Type="SpinKitType.Chase" Size="60px"/>
    return;
}

<Row>
    <Column ColumnSize="ColumnSize.Is2">
        <Figure>
            @if (@_superkatView.Superkat.Photo is null)
            {
                <FigureImage Source=".\images\superkat.jpg" />
            }
            else
            {
              <FigureImage Source="@GetSuperkatImage(_superkatView.Superkat.Photo)" />
            }
        </Figure>
    </Column>
    <Column>
        <Div>
            <BehaviourComponent Behaviour="@_superkatView.Superkat.Behaviour" />
            <Field>
                <FieldLabel>
                    @_superkatView.UserFriendlyNumber
                </FieldLabel>
            </Field>
            <Div>
                <SuperkatGenderComponent GenderIcon="@_superkatView.GenderIcon"/>
            </Div>
            <Div>
                <SuperkatStateComponent State="@_superkatView.Superkat.State" />
            </Div>
        </Div>

        <Div>
            <SuperkatDetailsComponent SuperkatView="@_superkatView" />
        </Div>
        <Div>
            <SuperkatActions SuperkatView="@_superkatView" OnActionExecuted="@ReloadSuperkatData" />
        </Div>
    </Column>
</Row>