@using Superkatten.Katministratie.Host.Entities

@if(Gastgezin is null)
{
    <Row Class="mb-2 border">...</Row>
    return;
}

<Row Class="mb-2 border">
    <Col class="col-xl-1 col-lg-1 col-md-3 col-4 align-content-center">
        <Image Width="100px" Src=".\images\superkat.jpg" />
    </Col>
    <Col class="col-xl-11 col-lg-11 col-md-9 col-8">
        <h5 class="p-1 bg-black text-white">
            <span class="material-icons">face</span>
            @if (_editMode == GastgezinEditMode.DisplayDetailsOnly)
            {
                <Button OnClick="@OnEdit">Edit</Button>
                <Button OnClick="@OnDelete">Delete</Button>
                <Button OnClick="@OnAssignSuperkat">Katten</Button>
            }
        </h5>

        @switch(_editMode)
        {
            case GastgezinEditMode.DisplayDetailsOnly:
                <div class="mb-2">
                    <GastgezinDetailsComponent Gastgezin="@Gastgezin" />
                </div>
                break;

            case GastgezinEditMode.AssignSuperkatten:
                <SuperkattenSelector Gastgezin="@Gastgezin" OnFinishEdit="@OnFinishEdit"/>
                break;

            case GastgezinEditMode.EditGastgezinNaw:
                <GastgezinEditComponent Gastgezin="@Gastgezin" OnFinishEdit="@OnFinishEdit" />
                break;
        }
    </Col>
</Row>