<Form class="mb-2" OnFinish="@OnFinish" OnFinishFailed="@OnFinishFailed"  Model="@GastgezinData" >
    <FormItem Label="Naam">
        <Input @bind-Value="@context.Name"/>
    </FormItem>
    <FormItem Label="Adres">
        <Input @bind-Value="@context.Address"/>
    </FormItem>
    <FormItem Label="Woonplaats">
        <Input @bind-Value="@context.City"/>
    </FormItem>
    <FormItem Label="Telefoon">
        <Input @bind-Value="@context.Phone"/>
    </FormItem>
    <FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Primary" HtmlType="submit">
            Ok
        </Button>
    </FormItem>
</Form>