@using Superkatten.Katministratie.Host.Entities

@if(Gastgezin is null)
{
    <Row Class="mb-2 border">...</Row>
    return;
}

<Row Class="mb-2 border">
    <Col class="col-xl-1 col-lg-1 col-md-3 col-4 d-flex align-items-center justify-content-center">
        <span class="material-icons" style="font-size:100px;">group</span>
    </Col>
    <Col class="col-xl-11 col-lg-11 col-md-9 col-8">
        <h5 class="p-1 bg-white text-white">
            @if (_editMode == HostFamilyComponentEditMode.DisplayDetailsOnly)
            {
                <Button OnClick="@OnEdit"><span class="material-icons">edit</span></Button>
                <Button OnClick="@OnDelete"><span class="material-icons">delete</span></Button>
                <Button OnClick="@OnAssignSuperkat"><span class="material-icons">pets</span></Button>
            }
        </h5>

        @switch(_editMode)
        {
            case HostFamilyComponentEditMode.DisplayDetailsOnly:
                <div class="mb-2">
                    <GastgezinDetailsComponent Gastgezin="@Gastgezin" />
                </div>
                break;

            case HostFamilyComponentEditMode.AssignSuperkatten:
                <SuperkattenSelector GastgezinId="@Gastgezin.Id" OnFinish="@OnFinishEdit" />
                break;

            case HostFamilyComponentEditMode.EditGastgezinNaw:
                <GastgezinEditComponent Gastgezin="@Gastgezin" OnFinish="@OnFinishEdit" />
                break;
        }
    </Col>
</Row>