<Form class="mb-2" OnFinish="@OnFinishOk" OnFinishFailed="@OnFinishFail"  Model="@_gastgezinData" >
    <AntDesign.FormItem Label="Naam">
        <AntDesign.Input @bind-Value="@_gastgezinData.Name"/>
    </AntDesign.FormItem>
    <AntDesign.FormItem Label="Adres">
        <AntDesign.Input @bind-Value="@_gastgezinData.Address"/>
    </AntDesign.FormItem>
    <AntDesign.FormItem Label="Woonplaats">
        <AntDesign.Input @bind-Value="@_gastgezinData.City"/>
    </AntDesign.FormItem>
    <AntDesign.FormItem Label="Telefoon">
        <AntDesign.Input @bind-Value="@_gastgezinData.Phone"/>
    </AntDesign.FormItem>
    <AntDesign.FormItem WrapperColOffset="8" WrapperColSpan="16">
        <Button Type="@ButtonType.Button" HtmlType="submit">
            Ok
        </Button>
    </AntDesign.FormItem>
</Form>