@page "/CreateSuperkat"

@using Superkatten.Katministratie.Web.Services
@using Superkatten.Katministratie.Application.Contracts;

@inject NavigationManager NavigationManager
@inject ISuperkattenListService _superkattenService


<PageTitle>Nieuwe superkat</PageTitle>

<div class="container-fluid">
    <div class="row">
        <Input Placeholder="Kleur kat" @bind-Value="@_kleur" />
        <Input Placeholder="Vang lokatie" @bind-Value="@_catchLocation" />
        <Checkbox OnChange"OnChangeHasStronghold" Checked=@_hasStrongHold></Checkbox>
        <AntDesign.InputNumber @bind-Value="@_weeksOld" Min="1" DefaultValue="10">Weken oud</AntDesign.InputNumber>
    </div>
    <div class="row">
        <div class="p-md-2">
            <Button Type="@ButtonType.Primary" OnClick="@StoreNewSuperkatAsync">Ok</Button>
        </div>
    </div>
</div>

@code {
    public string _kleur { get; set; } = string.Empty;
    public string _catchLocation { get; set; } = string.Empty;
    public bool _hasStrongHold { get; set; } = false;
    public int _weeksOld { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    public void OnChangeHasStronghold()
    {
        _hasStrongHold = !_hasStrongHold;
    }

    public async Task StoreNewSuperkatAsync()
    {
        var parameters = new CreateSuperkatParameters()
        {
            Kleur = _kleur,
            CatchLocation = _catchLocation,
            HasStronghold = _hasStrongHold,
            WeeksOld = _weeksOld
        };
        await _superkattenService.CreateSuperkatAsync(parameters);
        NavigationManager.NavigateTo("/");
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
