@page "/intake"

@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services

@inject NavigationManager _navigationManager
<h1 class="btn btn-primary">Intake nieuwe kat</h1>
<Space />
<Input AddOnBefore=@LabelColor Placeholder="Color" @bind-Value="@SuperkatColor" />
<Input AddOnBefore=@LabelCatchLocation Placeholder="Location" @bind-Value="@CatchLocation" />
Stronghold toegedient: <Switch Checked="@stronghold" />
Leeftijd: <AntDesign.InputNumber DefaultValue="21" Size="@InputSize.Small" @bind-Value="WeeksOld"/> weken.
<Space />
<div class="d-flex flex-row-reverse bd-highlight">
  <div class="p-2 bd-highlight"><Button Type="@ButtonType.Primary" OnClick="()=>OkClick()">Ok</Button></div>
</div>

@code
{
        [Inject]
        private ISuperkattenListService _superkattenService { get; set; }

    public string SuperkatColor { get; set; } = string.Empty;
    public string CatchLocation { get; set; } = string.Empty;
    public bool stronghold { get; set; } = false;
    public int WeeksOld { get; set; } = 1;

    public void OkClick()
    {
        var createSuperkatParameters = new CreateSuperkatParameters
        {
            CatchLocation = CatchLocation,
            Kleur = SuperkatColor,
            HasStronghold = stronghold,
            WeeksOld = WeeksOld
        };
        _superkattenService.CreateSuperkatAsync(createSuperkatParameters);
        _navigationManager.NavigateTo($"/");
    }

    private RenderFragment LabelColor = @<p>Kleur</p>;
    private RenderFragment LabelCatchLocation = @<p>Vang locatie</p>;
    private RenderFragment LabelStrongholdChecked = @<p>Stronghold toegedient</p>;

}