@page "/superkat"

@using Superkatten.Katministratie.Application.Contracts
@using Superkatten.Katministratie.Web.Services

@inject NavigationManager _navigationManager

<div>
    <div>
        <Input Placeholder="Name" @bind-Value="@SuperkatName"  />
        <Input Placeholder="Color" @bind-Value="@SuperkatColor"  />
        <Input Placeholder="Location" @bind-Value="@CatchLocation"  />
        <Input Placeholder="Stronghold" @bind-Value="@stronghold"  />
        <Input Placeholder="Daysold" @bind-Value="@DaysOld"  />
    </div>
    <div>
        <Button Type="@ButtonType.Primary" OnClick="()=>OkClick()"/>
    </div>
</div>

@code
{
    [Inject]
    private ISuperkattenListService _superkattenService { get; set; }
    
    public string SuperkatName { get; set; } = string.Empty;
    public string SuperkatColor { get; set; } = string.Empty;
    public string CatchLocation { get; set; } = string.Empty;
    public bool stronghold { get; set; } = false;
    public int DaysOld { get; set; } = 1;

    public void OkClick()
    {
        var createSuperkatParameters = new CreateSuperkatParameters
        {
            CatchLocation = CatchLocation,
            Kleur = SuperkatColor,
            HasStronghold = stronghold,
            DaysOld = DaysOld
        };
        _superkattenService.CreateSuperkatAsync(createSuperkatParameters);
        _navigationManager.NavigateTo($"/");
    }
}